.destination-menu {
  color: white;
  display: flex;
  position: absolute;
  gap: 50px;
  font-family: "Barlow Condensed", sans-serif;
  margin-left: 47vw;
  .active {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
  }
}

@media (max-width: 375px) {
  .destination-menu {
    margin: 32vh 0 0 1vh;
  }
}

@media (min-width: 376px) and (max-width: 760px) {
  .destination-menu {
    margin: 32vh 0 0 19vh;
  }
}
